body {
  margin: 0;
}

#root, html {
  background-color: black;
}
  
#quote-box {
  background-color: black;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

#quote-area {
  max-width: 50%;
  min-width: 40rem;
  padding: 5rem 5rem 3rem 5rem;
  background-color: white;
}

#clicks {
  margin-top: 4rem;
}

#author {
  margin-top: 1.5rem;
  color: #6b6b6b;
}




